/* =============================================================================
 *
 * Waybar styles
 *
 * Styles reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background-color: #21272a; /* Gray 90: unfocused/background */
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #4d5358;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: transparent;
    color: #f2f4f8; /* Gray 10: focused/text */
    font-family: "IBM Plex Sans", "Symbols Nerd Font";
    font-size: 21px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

/* Each module */

#image {    
    margin-left: 14px;
    margin-right: 23px;
}

#workspaces button {
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: transparent;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    margin-top: 5px;
    margin-bottom: 5px; 
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 4px;
    padding-right: 4px;
    color: #878d96;
}

#workspaces button:hover {
    /* Reset all hover styles */
    background: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.focused {
    border-top-color: #4589ff;
    color: #f2f4f8;
}

#workspaces button.urgent {
    border-top-color: #fa4d56;
}

#scratchpad {
    margin-left: 23px;
    color: #4589ff
}

#window {
    margin-left: 112px;
}

#mode {
    margin-left: 630px;
    color: #f1c21b; 
}

#clock {
}

#pulseaudio {
    padding-left: 7px;
    padding-right: 7px;
}

#bluetooth {
    margin-left: 28px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 23px;
}

#network {
    padding-left: 7px;
    padding-right: 7px;
}

#custom-pacman {
    margin-left: 28px;
    padding-left: 7px;
    padding-right: 7px;
}

#custom-notification {
    padding-left: 7px;
    padding-right: 7px;
}

#custom-idle {
    margin-left: 28px;
    padding-left: 7px;
    padding-right: 7px;
}

#custom-power {
    padding-left: 7px;
    margin-right: 14px;
}
